@import "node_modules/reset-css/sass/_reset";

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #202222;
}

body * {
    font-family: monospace;
    color: white;
    background-color: transparent;
}
